<%= form_with(model: [:admin, :product_category, @product], local: true, html: { class: 'container mt-4' }) do |form| %>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

   <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :current_stock, class: 'form-label' %>
      <%= form.number_field :current_stock, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :price, class: 'form-label' %>
      <%= form.number_field :price, class: 'form-control' %>
    </div>
  </div>

   <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :discount, class: 'form-label' %>
      <%= form.number_field :discount, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :image, class: 'form-label' %>
      <%= form.file_field :image, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
